**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.env
**/.env.*
!**/.env.example
**/*.log
**/*.sqlite
**/*.db
.git/
.gitignore
.github/
docs/
tests/
web/
*.md
*.html
*.txt
.ruff_cache/
.mypy_cache/
.pytest_cache/
dist/
build/
*.egg-info/
db/
logs/
